body {
  background-color: #e9ebee;
}

header {
  background-color: #4267b2;
  margin-bottom: 20px;
  width: 100%;
}

h1 {
  margin: 0 auto;
  color: #fff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin: 0 auto;
  color: #fff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
}

p {
  font-weight: bold;
}

#button-holder {
  border-bottom: 1px solid #D0D2D4;
  margin-bottom: 20px;
}

.animals {
  margin: 0px 15px 20px 0px;
  background-color: #e9ebee;
  border: 1px solid #D0D2D4;
  padding: 5px 20px;
  font-size: 15px;
}

.animals:hover, .animals:focus {
  background-color: #fff;
  outline: none;
}

.animals:focus, .animals:active {
  font-weight: bold;
}

.btn {
  background-color: #4267b2;
  color: #fff;
}

.btn:hover, .btn:focus {
  background-color: #395898;
  color: #fff;
}

.image-div {
  display: inline-block;
  margin: 0px 20px 20px 0px;
  background-color: white;
  padding: 10px 15px 15px 15px;
  border: 1px solid #D0D2D4;
  border-radius: 5px;
}

.image-div:hover {
  background-color: #e9ebee;
}